# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/*.tfplan

# Sensitive variable files (optional)
#**/*.tfvars

# Local overrides
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
